/* Navigation */

.main-navigation{
	background: #fff;
	padding: 1.5rem;
	
	li{
	    display: inline-block;
	    text-transform: uppercase;
	    font-size: 12px;
	}
	
	a{
		padding: 0.6rem 1.2em;
		color: #525252;
		
		&:hover{
			color: #f0dd7e;
		}
	}	
}

#main-navigation{
	[aria-current=page]{
		border-bottom: 4px solid #506c45;
		color: #292927 !important;
	}
}

.align-right{
	text-align: right;
}

.logo-container-fx{
	display: inline-block;

	img{
	    width: 18%;
    	margin: 0 5px;
	}

	h1{
		text-align: left;
		position: absolute;
		color: #5a5a5aee;
		text-transform: uppercase;
		padding-top: 30px;
		display: inline-block;
		font-size: 15px;
		width: 200px;
	}
}

.grid-blocks-nav{
	display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}